.caption_img{
    color: rgb(255, 255, 255) !important;
}

.jumbo_bb{
    background-color: rgb(102, 99, 98) !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    padding-right:1000px !important;
    color: rgb(0, 0, 0);
}