.caption_img{
    color: rgb(0, 0, 0) !important;
}

.jumbo_bb{
    background-color: rgb(211, 212, 214) !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    padding-right:1000px !important;
    color: rgb(0, 0, 0);
}