.imghome{
    display: block;
    margin-top:-17%;
    margin-left: 57% !important;
}

.lefthome{
    background-color:rgba(0, 79.00750368833542, 151.93750709295273, 1);
	width:50.89%;
	height:60%;
	position:absolute;
	left:49.1%;
	top:67%;
}
.righthome{
    background-color:rgba(239.0625, 239.0625, 239.0625, 1);
    width:50.89%;
	height:60%;
	position:absolute;
    right:49.1%;
	top:67%;
}

.ringcenter{
    width: 40%;
    height: 40%;
    position: absolute;
    left: 41%;
    top: 80%;
    z-index: 2;
    margin-left: 1%;
}

div {
    display: block;
}

.p1 {
    color:rgba(0, 0, 0, 1);
	width:60%;
	height:10%;
	position:absolute;
	left:18%;
	top:29%;
	font-family:Poppins;
	text-align:left;
	font-size:400%;
	letter-spacing:0.5;
}

.p2{
    transform: rotate(0.12360461492520917deg);
	color:rgba(132.8124949336052, 132.8124949336052, 132.8124949336052, 1);
	width:43%;
	height:43%;
	position:absolute;
	left:18%;
	top:26%;
	font-family:Poppins;
	text-align:left;
	font-size:150%;
	letter-spacing:5.5;
}

.p3{
    color:rgb(255, 255, 255);
    padding-left: 23%;
    padding-top: 20%;
	position:absolute;
	font-family:Poppins;
	text-align:left;
	font-size:150%;
	letter-spacing:0.5;
    z-index: 4;
}

.butmain{
	margin-top: 15%;
	margin-left: 18%;
	z-index: 100;
}

.cardlink{
	margin-top:15%;
	margin-left: 30%;
}

.buttonmain{
	background-color:rgba(0, 79.00750368833542, 151.93750709295273, 1);
	border-radius: 50px;
}
.footer{
	align-self: baseline;
	z-index: 10;
}
