.caption_im{
    color: rgb(255, 255, 255) !important;
    font-size: 20px !important;
}

.jumbo_b{
    background-color: rgb(0, 0, 0) !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    padding-right:1000px !important;
    color: rgb(255, 255, 255);
}