.form{
    margin: 30px;
    background: rgb(255, 255, 255);
}


.jumbo_reg{
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    padding-right:1000px !important;
    background: #ffd89b;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #19547b, #ffd89b);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #19547b, #ffd89b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.confm{
    margin-left: 20px;
}